*{
    font-family: 'Raleway', sans-serif;
}

/* SECTION I */

#ContactLanding{
    position: relative;
    text-align: center;
}

#ContactLanding img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

#ContactLanding p{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    
    font-weight: 500;
    font-size: 5rem;
    padding: 15px;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.9);
}


/* SECTION II */

#ContactInfo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
#ContactMap{
    width: 400px;
    height: 300px;
}

