@import url("/src/comp/Colors.css");


#NavContainer{
    position: sticky;
    display: inline-block;
    justify-self: center;
    min-width: 1100px;
    max-width: 1400px;
    height: max-content;
}

#NavDivider{
    width: 100%;
    padding-top: 1px;
}

#NavDiv{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.logos img{
    height: 50px;
    width: auto;
}

.logos img:hover{
    filter: invert(93%) sepia(12%) saturate(7435%) hue-rotate(325deg) brightness(89%) contrast(84%);
    transition: 0.3s;
    cursor: pointer;
}

.links{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
}

.links p{
    padding: none;
    margin: none;
    font-size: 25px;
    color: var(--gunPowder);
    border-bottom: solid 2px transparent;
    transition: 0.3s;
}

.links p:hover{
    color: var(--primary);
    border-bottom: solid 2px var(--primary);
    cursor: pointer;
    transition: 0.3s;
}

.links img{
    height: 40px;
}

.links img:hover{
    filter: invert(93%) sepia(12%) saturate(7435%) hue-rotate(325deg) brightness(89%) contrast(84%);
    transition: 0.3s;
    cursor: pointer;
}

#OrderNav{
    border: solid 2px var(--primary);
    color: var(--primary);
    font-weight: 500;
    border-radius: 10px;
    padding: 3px 7px 3px 7px;
}

#OrderNav:hover{
    background-color: var(--primary);
    color: var(--white);
}


